{% extends 'toolbar_base.html' %}
<!-- 以下のblockは使用しなくても消さないこと -->
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
  <title>よくある質問</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block toolbar_content %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <!-- メインコンテンツの内容 -->
  <div class="faq">
    <ul>
      {% for faq in faqs %}
        <h2>問</h2>
        <p>{{ faq.question }}</p>
        <h2>答え</h2>
        <p>{{ faq.answer }}</p>
        <small>{{ faq.created_at }}</small>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
  <script src="https://team-west-japan.github.io/CivicSeek_static/js/toolbar.js"></script>
{% endblock %}
