{% extends 'base.html' %}
<!-- 以下のblockは使用しなくても消さないこと -->
{% comment %}topics : 投稿情報が格納されたのリスト{% endcomment %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
  <title>いいねした投稿</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/top.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <ul>
    <li>
      <!-- 昇順の部分はランキング画面にしたぜよ -->
      <a href="{% url 'show_ranking' %}"><i class="bi bi-sort-down"></i>ランキング</a>
    </li>
    <li>
      <a href="{% url 'liked_topics' %}"><i class="bi bi-heart"></i>いいねした投稿</a>
    </li>
  </ul>
  <div class="wrapper">
    {% for topic in liked_topics %}
      <div class="post">
        <a href="{% url 'create_comment' topic.id %}">
          <p>{{ topic.title }}</p>
          <p>{{ topic.description }}</p>
        </a>
        <form action="" method="POST">
          {% csrf_token %}
          <button class="btn btn-secondary" type="submit" name="like-btn-{{ topic.id }}"><i class="bi bi-heart">{{ topic.like_count }}</i></button>
          <button class="btn btn-secondary" type="submit" name="share-btn-{{ topic.id }}"><i class="bi bi-share"></i></button>
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
{% endblock %}
