<!-- 以下のblockは使用しなくても消さないこと -->

{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
  <title>レスポンシブヘッダー</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/postcomment.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <div class="post-and-comments-grid">
    <div class="post-section">
      <div class="topic-title">
        <h2>{{ topic.title }}</h2>
      </div>
      <div class="tags">
        {% for tag in topic.tags.names %}
          <p class="tag">{{ tag }}</p>
        {% endfor %}
      </div>
      <div class="description">
        <p>{{ topic.description }}</p>
      </div>
    </div>
    <div class="comments-section">
      <h3>コメント</h3>
      <div class="comment-container">
        {% for comment in comments %}
          <div class="comment">
            <small>ユーザー:</small>
            <strong>{{ comment.created_by }}</strong><br />
            <small>コメント:</small>
            <p>{{ comment.comment }}</p>
          </div>
        {% endfor %}
      </div>
      <!-- コメントフォームのモーダル（ポップアップ）を追加 -->
      <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">コメントを追加</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <textarea name="comment" id="" cols="30" rows="10" placeholder="コメントを追加" class="form-control"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="submit" class="btn btn-primary">コメントを投稿</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ボタンまたはリンクトリガーの追加 -->
      <div class="comment-post-popup-btn-container">
        <button type="button" class="comment-post-popup-btn" data-bs-toggle="modal" data-bs-target="#commentModal">コメントを投稿</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
{% endblock %}
