{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  <title>投稿画面</title>
{% endblock %}

{% block extraCssStyle %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
{% endblock %}

{% block main %}
  <div class="form-wrapper">
    <h1>投稿作成</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="form-item">
        <label for="title">タイトル</label>
        <input type="text" name="title" required="required" placeholder="タイトル" />
      </div>
      <div class="form-item">
        <label for="tag">タグ</label>
        <input type="text" name="tags" placeholder="タグ" />
      </div>
      <div class="form-item">
        <label for="post-content">内容</label>
        <textarea name="description" required="required" placeholder="内容をここに入力"></textarea>
      </div>
      <div class="button-panel">
        <button type="submit" class="button">投稿</button>
        <button class="button" onclick="window.history.back()">戻る</button>
      </div>
    </form>
  </div>
{% endblock %}
