<!-- 以下のblockは使用しなくても消さないこと -->

{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
  <title>レスポンシブヘッダー</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/postcomment.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <div class="post-and-comments-grid">
    <div class="post-section">
      <h2>タイトル:{{ topic.title }}</h2>

      <p>{{ topic.description }}</p>
    </div>
    <div class="comments-section">
      <h3>コメント</h3>
      {% for comment in comments %}
        <div class="comment">
          <p>
            <strong>ユーザー名:{{ comment.created_by }}</strong>
            {{ comment.comment }}
          </p>
        </div>
      {% endfor %}
      <!-- 他のコメントもここに追加 -->
      <form action="" method="POST">
        {% csrf_token %}
        <textarea name="comment" id="" cols="30" rows="10" placeholder="コメントを追加"></textarea>
        <button type="submit">コメントを投稿</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
{% endblock %}
