{% extends 'base.html' %}
<!-- 以下のblockは使用しなくても消さないこと -->
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
  <title>レスポンシブヘッダー</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/toolbar.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <!-- メインコンテンツの内容 -->

  <!-- ツールバーを入れる -->
  <aside class="sidebar">
    <!-- サイドバーの内容 -->
    <nav>
      <ul>
        <li>
          <a href="{% url 'accounts:profile_view' %}" id="profile-link">プロフィール</a>
        </li>
        <li>
          <a href="#" id="settings-link">設定</a>
        </li>
        <li>
          <a href="#" id="faq-link">よくある質問</a>
        </li>
        <li>
          <a href="#" id="other-link">その他</a>
        </li>
      </ul>
    </nav>
  </aside>

  <div id="gridA" class="profile-grid">
    <div class="profile-item">
      <h3>ユーザー名</h3>
      <p>{{ username }}</p>
    </div>
    <div class="profile-item">
      <h3>名前</h3>
      <p>ユーザーの実名</p>
    </div>
    <div class="profile-item">
      <h3>メールアドレス</h3>
      <p>{{ email }}</p>
    </div>
    <div class="profile-item">
      <h3>Civicseek参加日</h3>
      <p>{{ date_joined }}</p>
    </div>
    <a href="{% url 'accounts:edit_profile_view' %}" class="edit-profile-button">プロフィールを変更する</a>
  </div>
  {% comment %}
  <div id="gridB" style="display: none;">
    <h2>パスワード変更</h2>
    <form id="passwordChangeForm">
      <div class="form-item">
        <label for="currentPassword">現在のパスワード</label>
        <input type="password" id="currentPassword" name="currentPassword" required />
      </div>
      <div class="form-item">
        <label for="newPassword">新しいパスワード</label>
        <input type="password" id="newPassword" name="newPassword" required />
      </div>
      <div class="form-item">
        <label for="confirmNewPassword">新しいパスワードの確認</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" required />
      </div>
      <div class="button-panel">
        <input type="submit" value="変更を保存" />
      </div>
    </form>
  </div>
  {% endcomment %}
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
  <script src="https://team-west-japan.github.io/CivicSeek_static/js/toolbar.js"></script>
{% endblock %}
