{% extends 'toolbar_base.html' %}
<!-- 以下のblockは使用しなくても消さないこと -->
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
  <title>レスポンシブヘッダー</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block toolbar_content %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <!-- メインコンテンツの内容 -->

  <div id="gridA" class="profile-grid">
    <div class="profile-item">
      <h3>ユーザー名</h3>
      <p>{{ username }}</p>
    </div>
    <div class="profile-item">
      <h3>アカウントステータス</h3>
      {% if is_student %}
        <p>学生</p>
      {% else %}
        <p>地域住民</p>
      {% endif %}
    </div>
    <div class="profile-item">
      <h3>メールアドレス</h3>
      <p>{{ email }}</p>
    </div>
    <div class="profile-item">
      <h3>Civicseek参加日</h3>
      <p>{{ date_joined }}</p>
    </div>
    <a href="{% url 'accounts:edit_profile_view' %}" class="edit-profile-button">プロフィールを変更する</a>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
  <script src="https://team-west-japan.github.io/CivicSeek_static/js/toolbar.js"></script>
{% endblock %}
