<!-- 以下のblockは使用しなくても消さないこと -->

{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <h2>ランキング画面</h2>
  <div>
    {% if topics %}
      {% for topic in topics %}
        <span>{{ forloop.counter }}</span>位
        <a href="{% url 'detail_topic' topic.id %}">{{ topic.title }}</a><br />
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
{% endblock %}
