<!-- 以下のblockは使用しなくても消さないこと -->

{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <ul>
    <li>
      <h1>ランキング トップ10(yyyy/mm/dd~yyyy/mm/dd)</h1>
    </li>
  </ul>
  <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <div class="long-boxes">
    <div class="long-box"></div>
    <div class="long-box"></div>
    <div class="long-box"></div>
    <div class="long-box"></div>
    <div class="long-box"></div>
    <div class="long-box"></div>
    <div class="long-box"></div>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
{% endblock %}
