{% extends 'base.html' %}
<!-- 以下のblockは使用しなくても消さないこと -->
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->
  <title>レスポンシブヘッダー</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/toolbar.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <!-- メインコンテンツの内容 -->
  <div id="gridA" class="profile-grid">
    <div class="profile-item">
      <h3>ユーザー名</h3>
      <p>ユーザーのユーザー名</p>
    </div>
    <div class="profile-item">
      <h3>名前</h3>
      <p>ユーザーの実名</p>
    </div>
    <div class="profile-item">
      <h3>メールアドレス</h3>
      <p>user@example.com</p>
    </div>
    <div class="profile-item">
      <h3>Civicseek参加日</h3>
      <p>2023年1月1日</p>
    </div>
    <button class="edit-profile-button" onclick="location.href='/Users/chobi/Downloads/civicseek_front/html/edit_profile.html'">プロフィールを変更する</button>
  </div>
  <div id="gridB" style="display: none;">
    <h2>パスワード変更</h2>
    <form id="passwordChangeForm">
      <div class="form-item">
        <label for="currentPassword">現在のパスワード</label>
        <input type="password" id="currentPassword" name="currentPassword" required />
      </div>
      <div class="form-item">
        <label for="newPassword">新しいパスワード</label>
        <input type="password" id="newPassword" name="newPassword" required />
      </div>
      <div class="form-item">
        <label for="confirmNewPassword">新しいパスワードの確認</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" required />
      </div>
      <div class="button-panel">
        <input type="submit" value="変更を保存" />
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
  <script src="https://team-west-japan.github.io/CivicSeek_static/js/toolbar.js"></script>
{% endblock %}
