{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
  <h2>Edit Profile</h2>

  <form method="POST" action="">
    {% csrf_token %}
    <div>
      <label for="username">ユーザー名</label>
      <input type="text" name="username" />
    </div>
    <div>
      <label for="email">eメール</label>
      <input type="text" name="email" />
    </div>
    <div>
      <label for="password">パスワード</label>
      <input type="password" name="password" />
    </div>

    <button type="submit" name="save_profile">保存</button>
  </form>
{% endblock %}
