{% extends 'base.html' %}
{% load static %}

{% block extraheader %}
  <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" />
{% endblock %}

{% block main %}
  <div class="edit-profile-grid">
    <h2>Edit Profile</h2>

    <div>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="form-item">
          <label for="username">ユーザー名</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="form-item">
          <label for="email">eメール</label>
          <input type="text" name="email" />
        </div>
        <div class="form-item">
          <label for="password">パスワード</label>
          <input type="password" name="password" />
        </div>

        <div class="button-panel">
          <button type="submit" name="save_profile">保存</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
