<!-- 以下のblockは使用しなくても消さないこと -->

{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグを入れる -->
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <div class="form-wrapper">
    <h1>ログイン</h1>
    <form>
      {{ form.as_p }}
      <!--  

      <div class="form-item">
        <label for="email"></label>
        <input type="email" name="email" required="required" placeholder="メールアドレス" />
      </div>
      <div class="form-item">
        <label for="password"></label>
        <input type="password" name="password" required="required" placeholder="パスワード" />
      </div>

      -->

      <div class="button-panel">
        <button type="submit" class="button">Sign In</button>
      </div>

    </form>
    <div class="form-footer">
      <p>
        <a href="{% url 'accounts:signup' %}">アカウントを作成する</a>
      </p>
      <p>
        {% comment %}ここには必要なものを入れる{% endcomment %}
        <a href="accounts:password_reset">パスワードを忘れましたか？</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- JavaScriptを読み込むためのタグを入れる -->
{% endblock %}
