<!-- 以下のblockは使用しなくても消さないこと -->

{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <!-- titleタグ等を入れる -->

  <title>会員登録完了画面- Civic Seek</title>
{% endblock %}

{% block extraCssStyle %}
  <!-- cssを読み込むためのlinkタグを入れる -->
  <!-- ここのcssはどれになるのだ？ -->
  <link rel="stylesheet" href="{% static 'css/signup_success.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- webページのヘッダー要素を入れる -->
  <!-- ナビゲーションバー等 -->
{% endblock %}

{% block main %}
  <!-- webページのコンテンツを入れる。mainタグの中身 -->
  <div class="contaier">
    <div class="scuccess-msg">
      <h1>アカウント作成完了!</h1>
    </div>
    <div class="go-to-top-link">
      <a class="nav-link" href="{% url 'top' %}">HOME</a>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <!-- webページのフッター要素を入れる -->
{% endblock %}

{% block script %}
  <!-- javascriptを読み込むためのタグを入れる -->
{% endblock %}
