<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% block title %}

    {% endblock %}
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <header class="header">
      <a href="{% url 'afterlogin' %}">
        <div class="logo">
          <h1>Civic Seek</h1>
        </div>
      </a>
      {% block header %}

      {% endblock %}
      <nav class="nav">
        <ul>
          <li>
            <a href="{% url 'toolbar' %}"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </li>
        </ul>
        {% block navbar %}

        {% endblock %}
      </nav>
    </header>
    <main>
      {% block main %}

      {% endblock %}
    </main>
    <footer>
      {% block footer %}

      {% endblock %}
    </footer>
  </body>
  {% block script %}

  {% endblock %}
</html>
