{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% block title %}

    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extraCssStyle %}

    {% endblock %}
  </head>
  <body>
    <header class="header">
      <a href="{% url 'top' %}">
        <div class="logo">
          <img src="https://team-west-japan.github.io/CivicSeek_static/png/test5.png" alt="logo" />
        </div>
      </a>
      {% block searchForm %}
        <!-- 検索フォームを入れる場所 topページのみに表示するから抜き取った。 -->
      {% endblock %}

      {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}" class="btn logout-btn" type="button">ログアウト</a>
        <a href="{% url 'post' %}" class="post-btn"><i class="bi bi-plus-lg">投稿</i></a>
        {% comment %}input は使うな!{% endcomment %}
        {% comment %}リンクはaタグですること！{% endcomment %}
        {% comment %}css任せた{% endcomment %}
      {% else %}
        <a href="{% url 'accounts:login' %}" class="login-btn">ログイン</a>
      {% endif %}

      <nav class="nav">
        <ul>
          {% comment %}
          <li>
            <a href="#" id="notificationIcon"><i class="fa fa-bell" aria-hidden="true"></i></a>
          </li>
          {% endcomment %}
          <li>
            <a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="{% url 'profile' %}"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </li>
        </ul>
      </nav>
      {% comment %} <div id="modal" class="modal">
        <!-- モーダルコンテンツ -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>通知の内容がここに表示されます。</p>
        </div>
      </div> {% endcomment %}
      {% block extraheader %}

      {% endblock %}
    </header>
    <main>
      {% block main %}

      {% endblock %}
    </main>
    <footer class="bg-dark text-white mt-4">
      <div class="container-fluid py-3">
        <!-- Footer Contents -->
        <div class="row">
          {% comment %}直書きでstyle属性に中央にコピーライトを表示する設定を書いた{% endcomment %}
          <div class="col-md" style="display: flex; justify-content: center;">
            <p class="mb-md-0">&copy; 2024 KIT-PD. C4 -CivicSeek-. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    {% block script %}

    {% endblock %}
    <script src="{% static 'js/notification.js' %}"></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>
